@model TrainingManagmentSystem.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home";
}
<h1 class="text-center">@ViewBag.Message</h1>
<br />
<br />
<h2 class="text-center">
    התראות במערכת
</h2>
<br />

<h3>
    הכשרות שפגו או יפוגו בקרוב
</h3>

<table class="table" style="font-size:13px">

<tr>
    <th>
        @Html.DisplayNameFor(model => model.QualificationsNearExpiration.First().Employee.LastName)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.QualificationsNearExpiration.First().Employee.FirstName)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.QualificationsNearExpiration.First().Qualification.Name)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.QualificationsNearExpiration.First().ExpirationDate)
    </th>
    <th></th>
</tr>
@foreach (var item in Model.QualificationsNearExpiration)
{
    <tr>    
        <td>
            @Html.DisplayFor(modelItem => item.Employee.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.FirstName)
        <td>
            @Html.DisplayFor(modelItem => item.Qualification.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpirationDate)
        </td>        
        <td style="width:700px;">
            <div class="btn-group" role="group">                
                <abbr title="פרטים">
                    <a type="button" class="btn btn-success btn-sm" href="@Url.Action("Details","EmployeeQualifications",new { id=item.EmployeeQualificationID },null)">
                        <span class="glyphicon glyphicon-list"></span>
                    </a>
                </abbr>
            </div>
        </td>
    </tr>


}

</table>

<style>

    abbr[title] {
        border-bottom: none !important;
        cursor: inherit !important;
        text-decoration: none !important;
    }

    th {
        text-align: right;
        width: 120px;
    }
</style>