@model IEnumerable<TrainingManagmentSystem.Models.EmployeeQualification>

@{
    ViewBag.Title = "Index";
}

<h2> הכשרות לעובד</h2>


<table class="table">
    <tr>        
        <th>
            @Html.DisplayNameFor(model => model.Qualification.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>       
        <td>
            @Html.DisplayFor(modelItem => item.Qualification.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpirationDate)
        </td> 
        <td style="width:700px;">
            <div class="btn-group" role="group">
                <abbr title="פרטים">

                    <a type="button" class="btn btn-success btn-sm" href="@Url.Action("Details",new { id=item.EmployeeQualificationID })">
                        <span class="glyphicon glyphicon-list"></span>
                    </a>
                </abbr>
            </div>
        </td>
    </tr>
}

</table>
<a href="javascript:void(0);" onclick="history.go(-1);">חזור</a>

<style>
    abbr[title] {
        border-bottom: none !important;
        cursor: inherit !important;
        text-decoration: none !important;
    }

    th {
        text-align: right;
        width: 120px;
    }
</style>
