<!DOCTYPE html>
<html dir="rtl" >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TMS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" rel="stylesheet"/>
</head>
<body>
    <div class="navbar  navbar-inverse navbar-fixed-top">
        <div class="container" style="background-color:#ffffff">
            <div class="navbar-header navbar-left">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")"><image src="~/Content/Images/tmslogo3.png" style="max-width:120px; margin-top:-10px;"></a>
                @*@Html.ActionLink("TMS-Training Managment System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <ul class="nav navbar-nav navbar-right" style="padding:0px">
                <li>@Html.ActionLink("יציאה", "LogOff", "user")</li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        דוחות
                        <span class="glyphicon glyphicon-circle-arrow-down"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="text-right">@Html.ActionLink("עובדים שלא עברו הדרכה", "EmployeesNotPassed", "EmployeeInTraining")</li>
                        <li class="text-right">@Html.ActionLink("עובדים ממתינים לאישור וועדה", "EmployeeWaitingForApproval", "EmployeeInExternalTraining")</li>
                        <li class="text-right">@Html.ActionLink("עובדים שלא אושרו לקורסים", "EmployeeNotApproved", "EmployeeInExternalTraining")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        הדרכות
                        <span class="glyphicon glyphicon-circle-arrow-down"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="text-right">@Html.ActionLink("פנים", "Index", "Training")</li>
                        <li class="text-right">@Html.ActionLink("חוץ", "Index", "ExternalTraining")</li>
                    </ul>
                </li>
                <li>@Html.ActionLink("עובדים", "Index", "Employee")</li>
                @if (Roles.IsUserInRole("מנהל"))
                 {
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            ניהול
                            <span class="glyphicon glyphicon-circle-arrow-down"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="text-right">@Html.ActionLink("משתמשים", "Index", "user")</li>
                            <li class="text-right">@Html.ActionLink("סקטור", "Index", "Sector")</li>
                            <li class="text-right">@Html.ActionLink("תת-סקטור", "Index", "SubSector")</li>
                            <li class="text-right">@Html.ActionLink("דירוג", "Index", "Ranking")</li>
                            <li class="text-right">@Html.ActionLink("טען עובדים מאקסל", "LoadFromExcel", "Employee")</li>
                        </ul>
                    </li>
                }
                <li>@Html.ActionLink("בית", "Index", "Home")</li>
            </ul>
        </div>
    </div>
    <div class="container">
        @RenderBody()        
        <nav class="navbar navbar-default  navbar-fixed-bottom" role="navigation">
            <div class="container text-center">
                <p class="navbar-text col-md-12 col-sm-12 col-xs-12">&copy; 2018 - TMS-Training Managment System</p>
                <p>
                    במקרה של תקלה שלח מייל ל
                    <a href="mailto:guyha92@gmail.com?Subject=TMS%20Error" target="_top">תמיכה טכנית</a>
                </p>
            </div>
        </nav>        
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*@Scripts.Render("~/Scripts/jquery-3.1.1.js")*@
    @Scripts.Render("~/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")
    @Scripts.Render("~/Scripts/moment.js")

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
<style>
    .footer{
        float:left;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }

    .nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
        margin-top: 0;
    }    

</style>
