@model TrainingManagmentSystem.Models.User
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>מחיקת משתמש</h2>
<h3>
    האם את/ה בטוח/ה שברצונך להסיר את המשתמש?
</h3>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <td>
                    @Html.DisplayFor(model => model.UserName)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <td>
                    @Html.DisplayFor(model => model.Password)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Organization)
                </th>
                <td>
                    @Html.DisplayFor(model => model.Organization)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LicenseNum)
                </th>
                <td>
                    @Html.DisplayFor(model => model.LicenseNum)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <td>
                    @Html.DisplayFor(model => model.LastName)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <td>
                    @Html.DisplayFor(model => model.FirstName)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BirthDate)
                </th>
                <td>
                    @Html.DisplayFor(model => model.BirthDate)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNum)
                </th>
                <td>
                    @Html.DisplayFor(model => model.PhoneNum)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <td>
                    @Html.DisplayFor(model => model.Email)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Role)
                </th>
                <td>
                    @Html.DisplayFor(model => model.Role)
                </td>
            </tr>
        </table>

    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="הסר" class="btn btn-danger" />
            <a type="button" class="btn btn-primary btn-sm" href="@Url.Action("index")">
                <span class="glyphicon glyphicon-list"></span>
                <span>חזור לרשימה</span>
            </a>
        </div>
    </div>
}
<br />
<style>

    th {
        text-align: right
    }

    table {
        font-size: 12px
    }
</style>