@model TrainingManagmentSystem.Models.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html dir="rtl">
<head>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    
    <link rel="apple-touch-icon" sizes="57x57" href="~/Content/Images/fav/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/Content/Images/fav/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/Images/fav/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/Images/fav/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/Images/fav/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/Images/fav/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Content/Images/fav/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/Images/favapple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/Images/fav/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/Content/Images/fav/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/Images/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Content/Images/fav/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/Images/fav/favicon-16x16.png">
    <link rel="manifest" href="~/Content/Images/fav/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/Content/Images/fav/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body  style="text-align:center;">

    <img src="~/Content/Images/t5.png" width="450" height="300" align="middle">

    @using (Html.BeginForm())
    {
        <div class="form-horizontal" style="text-align:center">

            <h4 >אנא הכנס פרטים לכניסה</h4>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "" })
                <div class="">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    <br />
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "" })
                <div class="">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    <br />
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="">
                    <input type="submit" value="כניסה" class="btn btn-default" />                   
                </div>
            </div>
        </div>
        @ViewBag.NotSuchUser
    }

</body>

</html>
