@model TrainingManagmentSystem.Models.EmployeeInExternalTraining

@{
    ViewBag.Title = "הרשמת עובד";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>הרשמת עובד להדרכה</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.ExternalTrainingID, "שם ההדרכה", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ExternalTrainingID", null, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.ExternalTrainingID, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Employee, "שם העובד", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EmployeeIDs", (IEnumerable<SelectListItem>)ViewBag.EmployeeIDs, htmlAttributes: new { @class = "form-control", @multiple = "multiple", @style="width:282px" })
                @Html.ValidationMessageFor(model => model.Employee, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="שמירה" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<div>
    @Html.ActionLink("חזור לפרטי ההדרכה", "Details","Training", new { id = ViewBag.id },null)
</div>

<style>
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11 {
        float: right;
    }

    .col-md-2 {
        width: 16%;
    }
</style>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script type="text/javascript" src="../../Scripts/script.js"></script>

}
