@model IEnumerable<TrainingManagmentSystem.ViewModels.EmployeeInExternalTrainingVM>

@{
    ViewBag.Title = "עובדים בהדרכה";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>רשימת עובדים בהדרכה</h2>

@*@Html.ActionLink("חזור אחורה", "index");*@

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().EmployeeInTraining.Employee.EmployeeZehut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().EmployeeInTraining.Employee.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().EmployeeInTraining.Employee.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().EmployeeInTraining.Training.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().EmployeeInTraining.TrainingStatus)
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {


    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeInTraining.Employee.EmployeeZehut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeInTraining.Employee.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeInTraining.Employee.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeInTraining.Training.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeInTraining.TrainingStatus)
        </td>       
        <td >
            <div class="btn-group" role="group">
                <abbr title="עריכה">
                    <a type="button" class="btn btn-primary btn-sm" href="@Url.Action("Edit",new { id = item.EmployeeInTraining.EmployeeInExternalTrainingsID })">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </abbr>

                <abbr title="פרטים">

                    <a type="button" class="btn btn-success btn-sm" href="@Url.Action("Details",new { id = item.EmployeeInTraining.EmployeeInExternalTrainingsID })">
                        <span class="glyphicon glyphicon-list"></span>
                    </a>
                </abbr>

                <abbr title="מחיקה">

                    <a type="button" class="btn btn-danger btn-sm" href="@Url.Action("Delete",new { id = item.EmployeeInTraining.EmployeeInExternalTrainingsID })">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </abbr>
            </div>
        </td>
        <td>
            @if (!item.Alert.IsEmpty())
            {
                <span class="text-danger"> @item.Alert</span>
            }            
        </td>
    </tr>

    }



</table>

<div>
    @Html.ActionLink("חזור לפרטי ההדרכה", "Details", "ExternalTraining", new { id = ViewBag.id }, null)
</div>


<style>
    abbr[title] {
        border-bottom: none !important;
        cursor: inherit !important;
        text-decoration: none !important;
    }

    th {
        text-align: right;
        width: 120px;
    }
</style>